body {
  background-color: #f0f0f0;
  margin-top: 20px;
}
.card__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.highlighted__card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
